name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./score-gateway

    steps:
    - uses: actions/checkout@v3
    - run: npm ci
    - run: npm test